* {
    border: red 2px solid;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.reset {
    display: none;
}

p {
    border: 10px inset rgba(201, 2, 2, 0.754);
    background-color: #e8686886;
}

.playerSelection {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding-bottom: 4%;
    font-size: 30px;
}

.computerSelection {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding-bottom: 4%;
    font-size: 30px;
}


img {
    width: 200px;
    height: 200px;
}

.computerScore {
    display: flex;
    align-items: center;
}

.playerScore {
    display: flex;
    align-items: center;
}