.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container2 {
    align-content: center;
    align-items: center;
    padding-left: 40%;
}

.reset {
    display: none;
}

p {
    border: 10px inset rgba(201, 2, 2, 0.754);
    background-color: #e8686886;
    margin-top: -1%;
}

.playerSelection {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: 30px;
    align-items: center;
    display: inline;
}

.computerSelection {
    font-size: 30px;
    padding-left: 27%;
    position:relative;
}

img {
    width: 200px;
    height: 200px;
}

.playerScore {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.startGame {
    border: black 5px solid;
}

.winnerDiv {
    padding-left: 40%;
}